*{
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 500px;
    max-height: 940px;
}

.header{
    margin-bottom: 2em;
    margin: 1em;
}

.header__container{
    display: flex;
    justify-content: space-between;
}

.header__container-title{
    font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.header__input-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input{
    width: 390px;
    height: 38px;
    border-radius: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button{
    padding: .8em;
    border-radius: 15px;
    border: none;
    background-color: rgb(214, 17, 17);
    margin-left: 1em;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
    margin: 1em;
}

.burgers{
    max-width: 200px;
    border: 1px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5em;
    justify-items: center;
}

.burgers-rating__container{
    display: flex;
    justify-items: center;
    align-items: center;
}

.burgers-rating__container>img{
    width: 20px;
    height: 20px;
}


.burgers-rating{
    text-align: start;
    display: flex;
    align-items: center;
}

.burgers-rating:last-child{
    gap: 2em;
}

.burgers-rating>img{
    width: 20px;
    height: 20px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(179, 27, 27) ;
    margin-top: 9.05em;
}

